<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static  " data-open="click"
    data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-cover">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo--><a class="brand-logo" href="index.html">
                            <img class="logo" src="../../../../assets/images/logo.svg">
                        </a>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img
                                    class="img-fluid" src="../../../../assets/images/auth/verify-email-illustration.svg"
                                    alt="two steps verification" /></div>
                        </div>
                        <!-- /Left Text-->
                        <!-- verify email v2-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h2 class="card-title fw-bolder mb-1">Verify your email &#x2709;&#xFE0F;</h2>
                                <p class="card-text mb-2">Account activation link sent to your email address:<span
                                        class="fw-bolder"> hello@pixinvent.com</span> Please follow the link inside to
                                    continue.</p><a class="btn btn-primary w-100" href="index.html">Skip for now</a>
                                <p class="text-center mt-2"><span>Didn&apos;t receive an email?</span><a
                                        href="Javascript:void(0)"><span>&nbsp;Resend</span></a></p>
                            </div>
                        </div>
                        <!-- verify email-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->
</body>